
.btn-case  {
    align-items: center;
    background: #333;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    font-size: 45px;
    height: 100px;
    justify-content: center;
    width: 100px;
    transition: filter 0.3s ease-in;
  }
  
  
.operador {
    background-color: #fe9241;
    color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    font-size: 45px;
    height: 100px;
    justify-content: center;
    width: 100px;
    transition: filter 0.3s ease-in;
  }
  
  .btn-case.function {
    color: black;
    background: #a5a5a5;
  }
  
  .btn-case.operator {
    background: #f1a33c;
  }